<!--<nav class=" navbar-expand-lg bg-nav fixed-top" id="mainNav"><div class="">-->
<!--    <button class="navbar-toggler navbar-toggler-right font-weight-bold text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      Menu-->
<!--      <i class="fas fa-bars"></i>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse " id="navbarResponsive">-->
<!--      <ul class="navbar-nav ml-auto w-100 text-center navbar-nav d-flex justify-content-between">-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink=""class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" ><i class="fa fa-home"></i></a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/top" routerLinkActive="active" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Top Games</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/new" routerLinkActive="active" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >New Games</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/slots" routerLinkActive="active" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Slots</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/jackpot" routerLinkActive="active" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Jackpot</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/live" routerLinkActive="active"  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Live</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/blackjack" routerLinkActive="active"  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Blackjack</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/roulette" routerLinkActive="active"  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Roulette</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/table" routerLinkActive="active"  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Table</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/poker" routerLinkActive="active"  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Poker</a></li>-->
<!--              <li class="flex-grow-1 nav-item"><a routerLink="/other" routerLinkActive="active"  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Other</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<app-navbar>hi</app-navbar>-->
<mainnav>hi</mainnav>
