<section class="" id="top-games">
  <div class="container-fluid">
    <h6>Top games</h6>
    <div class="d-flex justify-content-start flex-wrap">
      <div *ngFor="let game of games">
        <div *ngIf="game['categories'].includes('top');" class="game-img m-3">
          <img class="image" src="{{'https:'+game['image']}}" title="{{game['name']}}" alt="{{game['id']}}"/>
          <div *ngIf="game['amount']" class="amount p-2 text-white font-weight-bold">&#163;{{game['amount']}}</div>
          <div class="middle">
            <i class="fa fa-play-circle fa-4x " style="color: #fff"></i>
            <div class="text">{{game['name']}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
